body {
    background-color: darkgray;
}

header {
    background-color: #444;
}

main {
    width: 960px;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section {
    display:flex;
}

article {
    align-items: center;
    justify-content: end;
    flex-direction: row; 
    grid-row: auto;
}

p {
    height: 300px;
    overflow: auto;
    justify-content: right;
    
}

button {
    transition: 350ms;
}

button:hover {
    background-color: aquamarine;
}

footer {
    background-color: #444;
    height: 150px;
}